body {
	background-color: rgb(247, 248, 249);
}
.contenedor-imagen {
	position: relative; 
}
.contenedor-imagen img {
	width: 100%; 
	height: 700px; 
	object-fit: cover; 
}

.contenido-superpuesto {
	position: absolute; 
	top: -200px; 
	left: 0;
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: white;
	padding: 20px;
}
.contenido-superpuesto-oscuro {
	position: absolute; 
	top: 0px; 
	left: 0;
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: black;
	padding: 20px;
}
.contenido-superpuesto-claro {
	position: absolute; 
	top: 0px; 
	left: 0;
	width: 100%;
	height: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: rgb(255, 255, 255);
	padding: 20px;
}
.cuadricula {
	display: flex;
}
.button-container {
	display: flex; 
	gap: 15px;
	padding: 20px;
	background-color: #f0f0f0; 
}
button {
	
	padding: 10px 25px; 
	font-size: 16px;
	border-radius: 50px;
	cursor: pointer; 
	text-decoration: none; 
	transition: background-color 0.3s, color 0.3s, border-color 0.3s; 
}
.botones {
	display: flex;
}


.btn-primary {
	background-color: #007bff;
	color: white; 
	border: 1px solid #007bff; 
	border-radius: 50px;
}

.btn-secondary {
	background-color: white;
	color: #007bff; 
	border: 1px solid #007bff; 
	border-radius: 35%;
}


.btn-primary:hover {
	background-color: #0056b3;
	border-color: #0056b3;
}

.btn-secondary:hover {
	background-color: #e9ecef;
}
body {
	.manjari-thin {
		font-family: "Manjari", sans-serif;
		font-weight: 100;
		font-style: normal;
	}

	.manjari-regular {
		font-family: "Manjari", sans-serif;
		font-weight: 400;
		font-style: normal;
	}

	.manjari-bold {
		font-family: "Manjari", sans-serif;
		font-weight: 700;
		font-style: normal;
	}
}
